* {
}
body {
  background-image: linear-gradient(#ff6600, #ff8600, #ffa500 80%, #ffc04d);
  background-size: cover;
  background-repeat: no-repeat;
}
.Introduction {
  font-size: 5.6rem;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}
.Post-introduction {
  font-size: 2.5rem;
  font-family: "Source Code Pro", monospace;
  color: #e64402;
}
.footer-class {
  display: flex;
  align-items: center;
}
span {
  font-size: 30px;
  font-family: "Source Code Pro", monospace;
  color: #ffffff;
}
.div-divider {
  text-align: center;
}
