* {
  margin: 0;
}

/* FREQUENTLY USED COLORS */
:root {
  --main-color: #ff6600;
}
.main-container {
  width: 90%;
  margin: auto;
}
body {
  background-image: linear-gradient(#ff6600, #ff8600, #ffa500 85%, #ffc04d);
  background-size: cover;
  background-repeat: no-repeat;
}
/* NAVIGATION */
.header-nav {
  width: 90%;
  margin: 2.6rem auto auto;
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;

  font-family: "Mukta", sans-serif;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
}

/* SITE INTRODUCTION */
.Introduction {
  font-size: 5.6rem;
  font-weight: 400;
  font-family: "Source Code Pro", monospace;
  color: #ffffff;
  text-align: center;

  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
}
.Post-introduction {
  font-size: 2.5rem;
  font-family: "Source Code Pro", monospace;
  color: #e64402;
}

span {
  font-size: 1.875rem;
  font-family: "Source Code Pro", monospace;
  color: #ffffff;
}
.div-divider {
  text-align: center;
  margin-bottom: 10rem;
}
/* PAGE DIVIDER LINE  */
.page-divider {
  height: 1px;
  width: 90%;
  text-align: center;
  border-bottom: 0.13rem solid var(--main-color);
  margin: auto;
  margin-bottom: 2rem;
}

/* SVG MANIPULATION */
.ph-caret-circle-double-down-fill {
  font-size: 7.4rem;
  justify-content: center;
  margin-bottom: 25rem;
}
.div-wrapper-svg {
  width: 144px;
  margin: auto;
  margin-bottom: 12rem;
}

/* Embeded text */
.Header-increment {
  font-size: 3.5rem;
  text-align: center;
  font-weight: 400;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

/* FOOTER - COPYRIGHT - GITHUB/LINKEDIN*/
.footer-class {
  width: 90%;
  display: flex;
}
